.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared style */

.secondary-bg {
    background-color: #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

.text-center {
    text-align: center;
}

/* header */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.btn-contact {
    background-color: white;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px ;
    border: 1px solid #FD6E0A;
    margin-left: 10px;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content {
    width: 585px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
}

.banner-profile-pic {
    width: 584px;
    height: 676px;
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: ;
}

/* about styles */

.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-description {
    font-weight: bold;
    font-size: 20px;
}

/* skills section style */

.skills-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

/* resume section styles */

.resume-container{
    display: flex;
    gap: 24px;
}

.resume-column-title{
    font-size: 30px;
    font-weight: bold;
}

.experience-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.experience-description{
    font-size: 16px;
}

.resume-column-title,.experience-title{
    color: #474747;
}

.experience-description,.experience-sub-title{
    color: #757575;
}

.resume hr{
    margin: 30px 5px;
}

.resume{
    margin-bottom: 113px;
}

.resume-download-cv{
    margin-top: 50px;
}

/* footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column{
    width: 50%;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    width: 100%;
    height: 64px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #757575;
    display: block;
    padding: 10px 30px;
    margin-bottom: 24px;
}